{% extends "base.html" %}
{% block content %}
<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">eHomeBid </span></h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="">Home</a></li>
					<li><a href="{{url_for('agent') }}">Notifications</a></li>
					<li><a href="{{url_for('new_property') }}">Add Property</a></li>
					<li><a href="{{url_for('main') }}"> Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="newsletter">
		<div class="container">
			<h1>Subscribe to our newsletter</h1>
			<form>
				<input type="email" placeholder="Enter Email...">
				<button type="Submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<article id="main-col">
				<table>
					<h1 class="page-title">Open Properties</h1>
					<thead>
						<tr>
							<th width="300px"><strong>Property Title</strong></th>
							<th width="300px"><strong>Sold Date</strong></th>
							<th width="300px"><strong>Amount</strong></th>
							<th width="300px"><strong>Agent:</strong></th>
							<th width="300px"><strong>Buyer</strong></th>

						</tr>
					</thead>
					{% for property in open_properties %}
					<tr>
						<td width="300px">{{ property.title }}</td>
						<td width="300px">{{ property.due_date }}</td>
						<td width="300px">{{ property.amount }}</td>
						<td>
							<a href="{{ url_for('remove_property', property_ID = property.property_ID) }}">Delete</a>
							<a href="{{ url_for('complete', property_ID = property.property_ID) }}">Complete</a>
						</td>
					</tr>
					{% endfor %}
				</table>
				<div>
					<table>
						<h1 class="page-title"> Completed Properties</h1>
						<thead>
							<tr>
								<th width="300px"><strong>Property Title</strong></th>
								<th width="300px"><strong>Posted Date</strong></th>
								<th width="300px"><strong>Agent</strong></th>
								<th width="300px"><strong>Amount Sold</strong></th>
								<th width="300px"><strong>Buyer</strong></th>
								<th width="400px"><strong>Owner's Remarks about the agent</strong></th>
								<th width="400px"><strong>Buyer's Remarks about the agent</strong></th>
							</tr>
						</thead>
						{% for close in complete %}
						<tr>
							<td width="300px">{{ close.title }}</td>
							<td width="300px">{{ close.posted_date }}</td>
							<td width="300px">{{ close.agent_ID }}</td>
							<td width="300px">{{ close.amount }}</td>
							<td width="300px">{{ close.buyer }}</td>
							<td width="400px">{{ close.o_remarks }}</td>
							<td width="400px">{{ close.b_remarks }}</td>
						</tr>
						{% endfor %}
				    </table>
				</div>
				<div>
					<table>
						<h1 class="page-title">users</h1>
						<thead>
							<tr>
								<th>Username</th>
								<th>Password</th>
							</tr>
						</thead>
						{% for k in users %}
						<tr>
							<td>{{ k.username }}</td>
							<td>{{ k.password }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div>
					<table>
						<h1 class="page-title">Expired Proeprt</h1>
						<p>The properties Listed bellow have their selling dates expired</p>
						<thead>
							<tr>
								<th width="300px"><strong>Property Title</strong></th>
								<th width="300px"><strong>Posted Date</strong></th>
								<th width="300px"><strong>Due Date</strong></th>
								<th width="300px"><strong>Amount</strong></th>
								<th width="300px"><strong>Agent</strong></th>
							</tr>
						</thead>
						{% for exp in expired %}
						<tr>
							<td width="300px">{{ exp.title }}</td>
							<td width="300px">{{ exp.posted_date }}</td>
							<td width="300px">{{ exp.due_date }}</td>
							<td width="300px">{{ exp.amount }}</td>
							<td width="300px">{{ exp.agent }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			
			</article>
			<aside id="sidebar">
				<div class="dark">
				<h3>What We Do</h3>
				<p>We design, develop and express the client's idea in a manner that is satisfying and worldy ackowledge using every kind of deces.</p>
			</div>
			</aside>
		</div>
	</section>
	<footer>
		<p>Acme Web Design, Copyright @copy: 2019</p>
	</footer>
{% endblock %}